@import '../../scss/common';

.header {
  font-family: Verdana;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .title {
    color: $blue-margo;
    font-size: 24px;
    font-weight: bold;
  }

  select {
    padding: 5px
  }
}
